<%= form_for(@product, html: {multipart: true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>

  <div class="field">
  <%= f.fields_for :picture_link_texts do |builder| %>
    <%= render "landing_page_eng/landing_pages/picture_link_text_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Click to add a picture-link-text", f, :picture_link_texts, "landing_page_eng/landing_pages/picture_link_text_fields" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
