<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Details:</b>
  <%= @product.details %>
</p>

  <% unless @product.picture_link_texts.nil? %>
  <%= render partial: 'landing_page_eng/landing_pages/picture_link_texts', locals: {plts: @product.picture_link_texts, tag: ""} %>
  <% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
