<%= form_for(@landing_page, html: {multipart: true}) do |f| %>
	<% if @landing_page.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@landing_page.errors.count, "error") %> prohibited this landing_page from being saved:</h2>

			<ul>
				<% @landing_page.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :slug %><br />
		<%= f.text_field :slug %>
	</div>
	<div class="field">
		<%= f.label :template %><br />
		<%= f.text_field :template %>
	</div>
	<div class="field">
		<%= f.label :meta_keywords %><br />
		<%= f.text_area :meta_keywords, rows: 2 %>
	</div>
	<div class="field">
		<%= f.label :meta_description %><br />
		<%= f.text_area :meta_description, rows: 2 %>
	</div>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_area :title, rows: 2 %>
	</div>
	<div class="field">
		<%= f.label :body %><br />
		<%= f.text_area :body, rows: 10, columns: 80 %>
	</div>

	<%= f.fields_for :slide_show_slides do |builder| %>
		<%= render "slide_show_slide_fields", f: builder %>
	<% end %>
	<%= link_to_add_fields "Click to add slide show image and text", f, :slide_show_slides %>

	<%= f.fields_for :picture_link_texts do |builder| %>
		<%= render "picture_link_text_fields", f: builder %>
	<% end %>
	<%= link_to_add_fields "Click to add a picture-link-text", f, :picture_link_texts %>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
