<h1>Listing landing_pages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @landing_pages.each do |landing_page| %>
  <tr>
    <td><%= landing_page.slug %></td>
    <td><%= link_to 'Show', landing_page %></td>
    <td><%= link_to 'Edit', edit_landing_page_path(landing_page) %></td>
    <td><%= link_to 'Destroy', landing_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Landing page', new_landing_page_path %>
