<p id="notice"><%= notice %></p>

<h1>
<%= @landing_page.title %>
</h1>

<h2>
<%= @landing_page.tagline %>
</h2>

<% @landing_page.slide_show_slides.each do |image| %>
	<%= image_tag image.image_url(:thumb).to_s %>
<% end %> 

<%= link_to 'Edit', edit_landing_page_path(@landing_page) %> |
<%= link_to 'Back', landing_pages_path %>
