<% content_for :meta_description do %>
<meta name="description" content="<%= @landing_page.meta_description %>">
<% end %>


<div class="container">
	<div class="sixteen columns">
		<p id="notice"><%= notice %></p>

		<%= render partial: "slide_show_slides", locals: {landing_page: @landing_page} %>
	</div>
</div>

<div class="bg_gray add-bottom_3">
	<% unless @landing_page.picture_link_texts.nil? %>
	<div class="highlights">
		<%= render partial: 'picture_link_texts', locals: {plts: @landing_page.picture_link_texts, tag: "highlight"} %>
	</div>
	<% end %>
</div>

<section class="title-and-tagline container">
	<% unless @landing_page.body.blank? %><%= @landing_page.body %><% end %>
</section>

<div class="bg_gray add-bottom_3">
	<% unless @landing_page.picture_link_texts.nil? %>
	<%= render partial: 'picture_link_texts', locals: {plts: @landing_page.picture_link_texts, tag: "plt"} %>
	<% end %>
</div>

<%= link_to 'Edit', edit_landing_page_path(@landing_page) if (not current_user.nil?) && current_user.is_writer? %>
